# CMake
build*
Debug*
Release*
RelWithDeb*
MinSizeRel*

# Eclipse
.cproject
.project
.settings
.classpath
!**/misc/eclipse/.cproject
!**/misc/eclipse/.project

# Java
*.class

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
__pycache__
.idea
!.idea/runConfigurations

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
