# CMake
tcpip-c/build*
tcpip-cpp/build*

# Eclipse
.cproject
.project
.settings
.classpath
!**/misc/eclipse/.cproject
!**/misc/eclipse/.project

# Java
*.class

# Prerequisites
*.d

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python
__pycache__
.idea
!.idea/runConfigurations

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
!**/build.gradle**
